{% extends "layout.html" %}
{% block content %}
      <pre>
           ___    ____    ____    ____ 
          |_ _|  / ___|  / ___|  / ___|	
           | |  | |     | |     | |    
           | |  | |___  | |___  | |___  
          |___|  \____|  \____|  \____|
      </pre>
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
         </article>
    {% endfor %}
{% endblock content %}